{% extends "base.html" %}
{% block title %}Home{% endblock %}
{%block content%}
<style>
    h1 {
      font-size: 75px;
      font-weight: bold;
      color: #90323D;
    }
    body{
        background-color: #D9CAB3;
    }
  </style>
<h1><centre>Big bang theory Merch!</centre></h1>
<h2>Welcome to the best online shop for Big bang theory merchandise!</h2>
<img src="/static/images/chairs.gif">

<div class="container text-center">

    <div class="container">
        <h1>Our range</h1>
        
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img src="/static/images/sheldonshirt.jpeg" class="card-img-top" alt="Sheldon tshirt">
              <div class="card-body">
                <h5 class="card-title">Funny Sheldon Quote Tshirt</h5>
                <p class="card-text">Buy this beautiful, hilarious black tshirt with a Sheldon quote</p>
                <p class="card-text">Eco impact : 10</p>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="card">
              <img src="/static/images/monopoly.jpg" class="card-img-top" alt="BBT Monopoly">
              <div class="card-body">
                <h5 class="card-title">Big bang theory monopoly!</h5>
                <p class="card-text">Have so much fun playing this custom monopoly!</p>
                <p class="card-text">Eco impact : 15</p>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="card">
              <img src="/static/images/mug.jpg" class="card-img-top" alt="BBT Mug">
              <div class="card-body">
                <h5 class="card-title">Big Bang Theory Mug!</h5>
                <p class="card-text">Drink your hot beverage out of this awesome mug</p>
                <p class="card-text">Eco impact : 3</p>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                  <img src="/static/images/pillow.jpg" class="card-img-top" alt="BBT Pillow">
                  <div class="card-body">
                    <h5 class="card-title">Big bang theory pillow</h5>
                    <p class="card-text">Lovely pillow</p>
                    <p class="card-text">Eco impact : 8</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                  </div>
                </div>
        </div>
      </div>

</div>
{%endblock%}